main {
  height: 100dvh;
  display: grid;
  place-items: center;
}

#container {
  background-color: var(--pure-white);
  border-radius: 10px;
  max-width: 343px;
  display: grid;
  grid-template-columns: 1fr;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  max-inline-size: 100%;
  height: auto;
  /* max-width: 100%; */
}

#text-content {
  padding: 24px;
}

#overline {
  color: var(--aurometal-saurus);
  margin-top: 0;
  margin-bottom: 12px;
}

#headline {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--gunmetal);
}

#product-description {
  color: var(--aurometal-saurus);
  margin-top: 0;
  margin-bottom: 24px;
}

#price {
  display: flex;
  gap: 19px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
}

#new-price {
  color: var(--deep-aquamarine);
  margin: 0;
}

#old-price {
  font-family: montserrat, system-ui;
  font-size: 0.8125rem;
  color: var(--aurometal-saurus);
  line-height: 1.77;
  text-decoration: line-through;
  margin: 0;
}

button {
  width: 295px;
  height: 48px;
  background-color: var(--deep-aquamarine);
  color: var(--pure-white);
  border-radius: 8px;
  padding-left: 40%;
  background-image: url('/images/icon-cart.svg');
  background-repeat: no-repeat;
  background-position: left 32% bottom 50%;
  margin-bottom: 0px;
}

button:hover {
  background-color: var(--deep-aquamarine-hover);
}

@media (min-width: 1440px) {
  #container {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    height: 450px;
  }

  img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  button {
    width: 236px;
  }

  #text-content {
    padding: 32px;
  }

  #overline {
    margin-bottom: 20px;
  }

  #headline {
    margin-bottom: 24px;
  }

  #product-description {
    margin-bottom: 29px;
  }

  #price {
    margin-bottom: 30px;
  }
}
